.btn1{
    background-color: rgb(106, 11, 195);
    color: white;
    border-radius: 30px;
   border: none;
   /* padding: 15px; */
   width: 150px;
   height: 50px;
  
    
}
.btn1:hover{
    background-color: rgba(106, 11, 195, 0.571);
}
.b1{
    margin-right: 500px;
}
.carousel-caption{
    margin-right: 500px;
    margin-bottom: 130px;
    text-align: justify;
    width: 810px;
    
}
.heading{
    font-size: 50px;
}
.image{
    filter: brightness(50%); 
}

@media(orientation:portrait)
{
   
  
 
    .carousel-caption {
       right: 0;
        width:520px;
        height: 100px;
        text-align: justify; 
        margin-bottom: 200px;
    }
    .heading {
        font-size: 20px;
        text-align: left;
        margin-right: 270px; 
       
    }
   
        /* image-resolution: 200px; */
       

    .para{
        font-size: 10px;
        text-align: left;
       margin-right: 350px;
    }
    .btn1{
        background-color: rgb(106, 11, 195);
        color: white;
        border-radius: 30px;
       border: none;
       /* padding: 15px; */
       width: 75px;
       height: 25px;
      
        
    }
    .b1{
        font-size: 8px;
    }
    .image{
        width: 100%;
        height: 300px;
    }
  

   

}

