.cont{
    background-color: #5e068a;
    color: white;
}

 .conti{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.conti p{
    margin: 8px 0;
    font-size: 13px;
}



.btn1 {
    background-color: #7A1DA9;
    color: white;
    border-radius: 30px;
    border: none;
    /* padding: 15px; */
    width: 150px;
    height: 50px;


}

body{
    overflow-x: hidden;
}

.btn1:hover {
    background-color: rgba(106, 11, 195, 0.571);
}

.b1 {
    margin-right: 500px;
}

.carousel-caption {
    margin-right: 500px;
    margin-bottom: 80px;
    text-align: justify;
    width: 810px;

}

.heading {
    font-size: 40px;
}

.image {
    filter: brightness(50%);
}

/* 
.modal-body {
    width: 500px;
    height: 500px;

} */
.modal-content {
    width: 450px;
    height: 650px;


}

.btn22 {
    text-align: center;
}

.btn2 {

    margin-top: 20px;
    background-color: #7A1DA9;
    color: white;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 60px;
}

.btn2:hover {
    background-color: rgba(106, 11, 195, 0.571);
}

.btn3 {
    background-color: #7A1DA9;
    color: white;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 60px;
}

.btn4 {
    background-color: #7A1DA9;
    color: white;
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 40px;


}

.btn4:hover {
    background-color: rgba(106, 11, 195, 0.571);
}

.headl {
    color: #7A1DA9;
    margin-left: 20px;
    margin-top: 20px;
}

.headsub {
    color: #7A1DA9;
    margin-left: 20px;
}

.para2 {
    margin-left: 20px;
}

.content {

    text-align: justify;

}


@media(orientation:portrait) {




    .content {


        font-size: 12px;

    }

    .para2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .headl {
        margin-left: 40px;
    }

    .headsub {
        margin-left: 40px;
    }


    .btn3 {
        background-color: #7A1DA9;
        color: white;
        border-radius: 30px;
        border: none;
        width: 75px;
        height: 25px;
        margin-top: 20px;
        margin-left: 60px;
        font-size: 8px;
    }
    .btn2{
        background-color: #7A1DA9;
        color: white;
        border-radius: 30px;
        border: none;
        width: 75px;
        height: 25px;
        margin-top: 20px;
        margin-left: 60px;
        font-size: 8px;

    }



    .carousel-caption {
        right: 0;
        width: 520px;
        height: 100px;
        text-align: justify;
        margin-bottom: 130px;
    }

    .heading {
        font-size: 20px;
        text-align: left;
        margin-right: 270px;

    }

    /* image-resolution: 200px; */


    .para {
        font-size: 10px;
        text-align: left;
        margin-right: 300px;
    }

    .btn1 {
        background-color: #7A1DA9;
        color: white;
        border-radius: 30px;
        border: none;
        /* padding: 15px; */
        width: 75px;
        height: 25px;


    }

    .b1 {
        font-size: 8px;
    }

    .image {
        width: 100%;
        height: 350px;
       
    }

    .imgluminar {
        width: 80%;
        height: 350px;

    }

    .headw {
        color: #7A1DA9;
        text-align: center;
        font-size: 15px;

    }

    span {
        color: #420361;
        font-size: 15px;
    }

    .para4 {
        margin-left: 10px;
        font-size: 12px;
    }

    .para3 {
        margin-left: 10px;
        font-size: 12px;

    }

    .headq {
        font-size: 16px;
        margin-left: 30px;
    }
    .btn5{
        margin-top: 10px;
    }
    .btn55{
        
       
   
            background-color: #7A1DA9;
            color: white;
            border-radius: 30px;
           
            /* padding: 15px; */
            width: 75px;
            height: 25px;
    
    
        

    }
    .card-text{
        font-size: 12px;
    }
    .card-title{
        font-size: 18px;
    }
    .bcard{
        font-size: 8px;
        padding: 5px;
    }




}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.headw {
    color: #7A1DA9;
    text-align: center;
    font-size: 25px;
}

span {
    color: #420361;
    font-size: 25px;
}

#rowad:hover {

    transform: scale(1.01);
    /* box-shadow: 10px 10px 5px rgb(197, 210, 217); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.para3,
.anchor {
    display: inline;
    margin: 1;
}

.f1 {
    width: 100%;
    height: 100px;
    color: aliceblue;

}

.bcard {
    background-color: #7A1DA9;
    color: white;
    border: none;
    margin: 5px;



}

.cd:hover {
    transform: scale(1.01);
    /* box-shadow: 10px 10px 5px rgb(197, 210, 217); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.btn5{
    text-align: center;
}
.btn55{
  
    
    color: #7A1DA9;
    border-radius: 30px;
    border-color: #7A1DA9;
    background-color: white;
    width: 150px;
    height: 50px;

}
.btn55:hover{
    background-color: #7A1DA9;
    color: white;
}